.date {
    font-size: 10px;
    font-style: italic;
    color: darkgray;
}

.stack {
  display: flex;
  flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}