.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#error {
    text-align: center;
    margin: 5px 10px 10px 10px;
}

#selected-item {
    margin: 10px 10px 10px 5px;
}

#main-div {
    padding-top: 10px;
}