<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shop Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- First Row -->
    <ion-row>
      <ion-col size="8">
        <app-item-info></app-item-info>
      </ion-col>
      <ion-col size="2">
        <ion-button color="secondary" size="auto">Manager</ion-button>
      </ion-col>
    </ion-row>
    <!-- First Row -->
    <!-- Button Row -->
    <ion-row class="ion-justify-content-around">
      <ion-col size="auto">
        <app-number-input></app-number-input>
      </ion-col>
      <ion-col size="auto">
        <ion-button color="primary">Buy</ion-button>
        <br/>
        <ion-button color="medium">Clear</ion-button>
      </ion-col>
    </ion-row>
    <!-- Button Row -->
    <!-- Qty Row -->
    <ion-row>
      <p>Quantity: </p>
    </ion-row>
    <!-- Qty Row -->
  </ion-grid>
</ion-content>
